<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Nerfi"><i class="fab fa-github"></i></a>
    <a href="https://www.facebook.com/juanfrancisco.paredescruz.1"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/juanfranciscoparedescruz97/"><i class="fab fa-linkedin"></i></a>
  </div>

</div>
