---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      <strong>Short introduction</strong>
    </p>
    <p> "After a year and half traveling around Europe alone I found coding  throught CodeCademy, It was just a hobby because I could not speak English at that time, after  comings and goings   a friend of mine show me lewagon and since that momment on I knew that coding was something that I would give a shot,couple months after the end of my batch #131 Milano, I know that I took the right decision".</p>

    <div class="home-container">

     <div class="education">
       <strong>Education</strong>
       <br>
       <strong>Bachillerato</strong>
       <p>I.E.S Ramón Y Cajal,Murcia(Spain)</p>
       <strong>Le Wagon</strong>
       <p>Coding bootcamp, Milano batch #131</p>

     </div>

     <div class="Experience">

      <strong>Experience</strong>

       <p> <strong>Foodora</strong> <br>
        Driver at foodora a Delivery company(Amsterdam)
       </p>
       <strong>Orange</strong>
       <p>Call center base in Murcia(Spain)</p>
     </div>

     <div class="languages">
      <strong>Languages</strong>
       <p>Spanish(Native)</p>
       <p>Englsih(fluent)</p>

     </div>


     <div class="projects">
       <strong>Projects</strong>
       <p><strong>Moovy</strong> <br>
        RoR project, the Aribnb of motor-bikes
       </p>
       <p><strong>Foodi</strong> <br>
       RoR project, the Tinder for food. </p>
     </div>
   </div>


    <div class="wrapper">
    <p class="about">
      <p><strong>Look down to find me out</strong></p>

    </p>

    </div>
  </div>
</div>
