---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      Short introducition !
    </p>
    <p> After a year and half traveling around Europe alone I found code  throught CodeCademy, It was just a hobby because I could not speak English at that time, after some backs and goes a friend of mine show me lewagon and since that momment on I knew that coding was something that I would give a shot,couple months after the end of my batch #131 Milano, I know that I took the right decision.</p>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
  </div>
</div>
